@model IEnumerable<QL_KhachSan.ModelDbs.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35" style="text-align:center">Danh sách Khách hàng đã đăng ký tài khoản</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
               <div class="table-data__tool-right">
                    <a asp-area="Owners" asp-controller="Rooms" asp-action="Create" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Thêm dữ liệu
                    </a>
                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2" name="type">
                            <option selected="selected">Excel</option>
                            <option value="">Xuất Excel</option>
                            <option value="">Nhập Excel</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </th>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th>
                            Giới tính
                        </th>
                        <th>
                            Số tài khoản
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (item, index) in Model.Select((v, i) => (v, i)))
                    {
                        <tr class="tr-shadow">
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td>
                                @{ int temp1 = index + 1;}
                                @temp1
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountUsername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                            </td>
                            <td>
                                @item.CustomerDateofbirth.ToString().Substring(0, 10)
                            </td>

                            <td>
                                @{
                                    var temp = "";
                                    if (item.CustomerSex == true)
                                        temp = "Nam";
                                    else
                                        temp = "Nữ";
                                }
                                @temp
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerBankaccount)
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>