@model IEnumerable<QL_KhachSan.ModelDbs.Hotel>
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/GetName.js"></script>
<div class="container" onload="get">
    <div class="sales-cn">
        <div class="row">
            <!-- HostSales Item -->
            @foreach (var (item, index) in Model.Select((v, i) => (v, i)))
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                                    getNamePro(new String(@item.ProvinceId), @index);
                                    getNameDis(new String(@item.ProvinceId), new String(@item.DistrictId), @index);
                                    getMinPrice(new String(@item.HotelId), @index,null);
                                });
                </script>
                <div class="col-xs-6 col-md-3">
                    <div class="sales-item">
                        <figure class="home-sales-img">
                            <a href="~/HotelDetail/Index/@item.HotelId" title="">
                                <img src="~/images/@item.HotelAvt" alt="@item.HotelAvt">
                            </a>
                            <figcaption>
                                Giảm <span>30</span>%
                            </figcaption>
                        </figure>

                        <div class="home-sales-text">
                            <div class="home-sales-name-places">
                                <div class="home-sales-name">
                                    <a href="/HotelDetail/Index/@item.HotelId" title="">@item.HotelName</a>
                                </div>
                                <div class="home-sales-places">
                                    <a id="dis_@index"></a>,
                                    <a id="pro_@index"></a>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="price-box">
                                <span class="price old-price">Từ <del id="priceold_@index"></del></span>
                                <span class="price special-price" id="price_@index"></span>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
            }
            <!-- End HostSales Item -->
        </div>
    </div>
</div>
<!-- End Hot Sales Content -->
<!-- End Sales -->
<!-- Travel Destinations -->
<section class="destinations">

    <!-- Title -->
    <div class="title-wrap">
        @*<div class="container">
                <div class="travel-title float-left">
                    <h2>Top Travel Destinations</h2>
                </div>
                <a href="#" title="" class="awe-btn awe-btn-5 arrow-right awe-btn-lager text-uppercase float-right">view all</a>
            </div>*@
    </div>
    <!-- End Title -->
    <!-- Destinations Content -->
    <div class="destinations-cn">

        <!-- Background -->
        <div class="bg-parallax bg-2"></div>
        <!-- End Background -->

        <div class="container">
            <div class="row">
                <!-- Destinations Filter -->
                <div class="col-md-4 col-lg-3">
                    <div class="intro-filter">
                        <div class="intro">
                            <p>
                                <small>Khám phá</small><br>
                                <span>2364</span> điểm đến
                            </p>
                            <p>
                                <small>Với</small><br>
                                <span>152,364</span> khách sạn
                            </p>
                        </div>
                        <ul class="filter">
                            <li class="active">
                                <a data-toggle="tab" href="#destinations-1"><i class="fa fa-map-marker"></i> Gợi ý dành cho bạn</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#destinations-2"><i class="fa fa-map-marker"></i> Đà Nẵng</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#destinations-3"><i class="fa fa-map-marker"></i> Cần Thơ</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#destinations-4"><i class="fa fa-map-marker"></i> Nha Trang</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#destinations-5"><i class="fa fa-map-marker"></i> Hà Nội</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- End Destinations Filter -->
                <!-- Destinations Grid -->
                <div class="col-md-8 col-lg-9">
                    <div class="tab-content destinations-grid">
                        <!-- Tab One -->
                        <div id="destinations-1" class="clearfix tab-pane fade active in ">
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item ">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">London - UK</a>
                                        </div>
                                        <span class="properties-nb">
                                            <ins>1289</ins> properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-1.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Paris - France</a>
                                        </div>
                                        <span class="properties-nb">
                                            239 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-2.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Rome - Italy</a>
                                        </div>
                                        <span class="properties-nb">
                                            478 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-3.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Barcelona - Spain</a>
                                        </div>
                                        <span class="properties-nb">
                                            452 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-4.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Madrid - Spain</a>
                                        </div>
                                        <span class="properties-nb">
                                            794 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-5.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Vienna - Austria</a>
                                        </div>
                                        <span class="properties-nb">
                                            1289 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-6.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                        </div>
                        <!-- End Tab One -->
                        <!-- Tab Two -->
                        <div id="destinations-2" class="clearfix tab-pane fade">
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item ">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">London - UK</a>
                                        </div>
                                        <span class="properties-nb">
                                            <ins>1289</ins> properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-1.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Paris - France</a>
                                        </div>
                                        <span class="properties-nb">
                                            239 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-2.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Rome - Italy</a>
                                        </div>
                                        <span class="properties-nb">
                                            478 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-3.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Barcelona - Spain</a>
                                        </div>
                                        <span class="properties-nb">
                                            452 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-4.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Madrid - Spain</a>
                                        </div>
                                        <span class="properties-nb">
                                            794 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-5.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                            <!-- Destinations Item -->
                            <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                <div class="destinations-item">
                                    <div class="destinations-text">
                                        <div class="destinations-name">
                                            <a href="#" title="">Vienna - Austria</a>
                                        </div>
                                        <span class="properties-nb">
                                            1289 properties
                                        </span>
                                    </div>
                                    <figure class="destinations-img">
                                        <a href="#" title="">
                                            <img src="images/destinations/img-6.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <!-- End Destinations Item -->
                        </div>
                        <!-- End Tab Two -->
                    </div>
                </div>
                <!-- ENd Destinations Grid -->
            </div>
        </div>
    </div>
    <!-- End Destinations Content -->
</section>
